.menu-title {
  padding: 12px 24px;
  display: flex;
}

.icon-container {
  padding-right: 24px;
  color: white;
  padding-top: 8px;
}

.menu-title-text {
  color: white;
  font-family: system-ui;
  text-decoration: none;
  font-size: 20px;
}

.menu-title:hover {
  background-color: #383838;
  cursor: pointer;
}

.active {
  background-color: #383838;
}

.active:hover {
  background-color: #5c5c5c;
}

.open-menu {
  flex-direction: row;
}

.close-menu {
  flex-direction: column;
}
