.container {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.YT-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin: 0;
  color: white;
  padding-left: 2px;
  font-family: system-ui;
}

.logo {
  height: 38px;
  padding-left: 6px;
}

.photo {
  height: 34px;
  border-radius: 50%;
  margin-right: 8px;
}

.photo:hover {
  box-shadow: 1px 1px 8px 1px rgb(255, 0, 0);
}

.search-bar {
  margin: 12px auto;
}

.searchbar {
  background: #121212;
  width: 500px;
  border: none;
  font-size: 16px;
  outline: none;
}

/* .searchbar:hover {
    box-shadow: 1px 1px 8px 1px rgb(255, 0, 0);
  } */

.searchbar:focus-within {
  border: 1.1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

input[type="text"] {
  height: 34px;
  padding: 0 10px;
  color: white;
}

.searchButton {
  width: 36px;
  height: 34px;
  background: #383838;
  color: #c4c4c4;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: none;
}

.voice {
  height: 20px;
  position: relative;
  top: 5px;
  left: 10px;
}

.main-body {
  display: flex;
  flex-direction: row;
  height: 93%;
}

.side-menu-bar {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.image-cards {
  width: 84%;
  background-color: #181818;
}

.image-container {
  height: 268px;
  width: 396px;
  background-color: #181818;
  display: flex;
  margin: 36px;
  flex-direction: row;
}

.mouseOver {
  margin-right: 20px;
}

.mouseOver:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}
