<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="header">
    <div class="YT-logo">
      <img class="logo" src="../assets/youtube-logo-png-46031.png" alt="YT logo">
      <h3 class="title">YouTube</h3>
    </div>
    <div class="search-bar">
      <input class="searchbar" type="text" title="Search" placeholder="Search">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>

    </div>
    <div class="account">
      <img class="photo" src="../assets/IMG_20190303_223556_893.jpg" alt="Photo">
    </div>
  </div>
  <div class="main-body">
    <div class="side-menu-bar">
      <app-menu-buttons *ngFor="let item of sideMenuList" [btnName]="item"></app-menu-buttons>
    </div>
    <div class="image-cards">
      <div class="image-container">
        <router-outlet></router-outlet>
        <!-- <app-cards *ngFor="let card of videoCards" class="mouseOver" [card]="card">        </app-cards> -->
      </div>
    </div>
  </div>
</div>